<ion-view> view-title="PlayCenter">
    <ion-nav-back-button> </ion-nav-back-button> <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button> </ion-nav-buttons>
    <ion-nav-bar class="bar-dark">
        <ion-content class="padding">

        <div class="list card">
            <div loading-msg class="item item-avatar">
                <img src="img/icon.png">
                <h2>BIENVENIDOS A </h2>
            </div>


        <div class="item item-body">
            <p><img src="img/playcenter_logo.png" alt="" style="float:left" height="auto" width="auto"/>
                <h3>PlayCenter es una nueva propuesta para disfrutar de tu contenido favorito con una excelente calidad y sonido, para que no te pierdas ningún detalle de lo que está sucediendo. Sólo debes elegir una categoría y buscar lo que deseas ver.</h3>

            </p>



        </div>

        </div>
    </ion-nav-bar>
    </ion-content>

</ion-view>