<ion-view hide-nav-bar="false" >
    <ion-nav-back-button> </ion-nav-back-button> <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-drag custom-dark" menu-toggle="left"> </button> </ion-nav-buttons>
    <ion-nav-bar class="bar-dark">
        <ion-content class="backgroundApp" scroll="true">



            <div id="slider">
            <ion-slide-box>

                <ion-slide>
                    <div class = "box box1">
                        <img id="masvistas_slide1" width="360px" height="200px" src="http://172.16.10.3/playcenter/covers/Blended%20-%20Vacaciones%20en%20familia_1280.jpg">
                    </div>
                    <div id="titulo_slide">
                        <a2>TÍTULO DE LA PELÍCULA</a2>
                    </div>
                    <div id="desc_slide">
                        <a4>Descripción de la película</a4>
                    </div>
                    <div id="btn_slide">
                        <a ng-href="#/app/playlistsMovie/playMovie/{{titulo}}" class="btn"><a2>VER AHORA</a2></a>
                    </div>


                </ion-slide>

                <ion-slide>
                    <div class = "box box2">
                        <img id="masvistas_slide2" width="360px" height="200px" src="http://172.16.10.3/playcenter/covers/Gotham%201x13_1280.jpg">
                    </div>
                    <div id="titulo_slide">
                        <a2>TÍTULO DE LA PELÍCULA</a2>
                    </div>
                    <div id="desc_slide">
                        <a4>Descripción de la película</a4>
                    </div>
                    <div id="btn_slide">
                        <a ng-href="#/app/playlistsMovie/playMovie/{{titulo}}" class="btn"><a2>VER AHORA</a2></a>
                    </div>
                </ion-slide>

                <ion-slide>
                    <div class = "box box3">
                        <img id="masvistas_slide3" width="360px" height="200px" src="http://172.16.10.3/playcenter/covers/DrH_T01x18_1280.jpg">
                    </div>
                    <div id="titulo_slide">
                        <a2>TÍTULO DE LA PELÍCULA</a2>
                    </div>
                    <div id="desc_slide">
                        <a4>Descripción de la película</a4>
                    </div>
                    <div id="btn_slide">
                        <a ng-href="#/app/playlistsMovie/playMovie/{{titulo}}" class="btn"><a2>VER AHORA</a2></a>
                    </div>
                </ion-slide>

            </ion-slide-box>

                </div>




        </ion-content>
</ion-view>