<ion-view>
    <ion-nav-back-button> </ion-nav-back-button> <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-drag custom-dark" menu-toggle="left"> </button> </ion-nav-buttons>
    <ion-nav-bar class="bar-dark">
        <ion-content class="backgroundApp" scroll="true">

            <div id="hola">
                <a3><b>HOLA!</b></a3>
            </div>

            <a4>
                <div id="parrafo1">Te damos la bienvenida a la opción <b>“off line”</b>.
                    Aquí podrás seguir difrutando de tu programación favorita sin tener que acceder a una conexión wifi.</div>
                <div id="parrafo2">La opción off line, entrega una oportunidad de descarga por eso debes estar seguro al momento de aceptar .</div>
                <div id="parrafo3">Una vez descargada la película, queda guradada en <b>“Mi biblioteca!</b> </div>


                <a>SEARCHING FOR SUGAR MAN</a>



        </ion-content>
</ion-view>