<ion-view>
    <ion-nav-back-button> </ion-nav-back-button> <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-drag custom-dark" menu-toggle="left"> </button> </ion-nav-buttons>
    <ion-nav-bar class="bar-dark">
        <ion-content class="backgroundApp" scroll="true">


            <div id="exploraDivText">
                <a2 id="textDescubre"><b>DESCUBRE</b></a2>
                <a2 id="textEstrenos"><b>ESTRENOS</b></a2>
                <a2 id="textNiños"><b>NIÑOS</b></a2>
                <a2 id="textPremiados"><b>PREMIADOS POR LA CRITICA</b></a2>
                <a2 id="textChileInd"><b>CHILE INDEPENDIENTE</b></a2>
                <a2 id="textReir"><b>PARA REIR</b></a2>
                <a2 id="textReflexiona"><b>REFLEXIONA</b></a2>
                <a2 id="textEmocionate"><b>EMOCIONATE</b></a2>
            </div>

    <div id="exploraDiv">

                <div id="exploraDescubre">
                    <img id="descubre" width="100%" />
                </div>


                <div id="exploraEstrenos">
                    <img id="estrenos" width="100%" />
                </div>

                <div id="exploraNiños">
                    <img id="niños" width="100%" />
                </div>

                <div id="exploraPremiados">
                    <img id="premiados" width="100%" />
                </div>

                <div id="exploraChileInd">
                    <img id="chile" width="100%" />
                </div>

                <div id="exploraReir">
                    <img id="reir" width="100%" />
                </div>

                <div id="exploraReflexiona">
                    <img id="reflexiona" alt="" width="100%" />
                </div>

                <div id="exploraEmocionate">
                    <img id="emocionate" width="100%" />
                </div>


            </div>



        </ion-content>
</ion-view>