<ion-view>
    <ion-nav-back-button> </ion-nav-back-button> <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-drag custom-dark" menu-toggle="left"> </button> </ion-nav-buttons>
    <ion-nav-bar class="bar-dark">
        <ion-content class="backgroundApp" scroll="true">

            <br>
            <ul ng-repeat="kid in kids" ng-if="$even">
                <div class="film_ini">
                    <a href="#/app/playlistsMovie/{{kids[$index].titulo}}">
                        <img ng-src="http://172.16.10.3/playcenter/covers/{{kids[$index].titulo}}_300.jpg"
                             border=0 alt="" width="100%" height="auto"></a>
                </div>
                <div class="tit_ini">
                    <a4>{{kids[$index].titulo}}</a4>
                </div>

                <div class="film_fin">
                    <a href="#/app/playlistsMovie/{{kids[$index+1].titulo}}">
                        <img ng-src="http://172.16.10.3/playcenter/covers/{{kids[$index+1].titulo}}_300.jpg"
                             border=0 alt="" width="100%" height="auto"></a>
                </div>
                <div class="tit_fin">
                    <a4>{{kids[$index+1].titulo}}</a4>
                </div>

            </ul>


        </ion-content>
</ion-view>