<ion-view>
    <ion-nav-back-button> </ion-nav-back-button> <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-drag custom-dark" menu-toggle="left"> </button> </ion-nav-buttons>
    <ion-nav-bar class="bar-dark">
        <ion-content class="backgroundApp" scroll="true">

            <div id="hola">
                <a3><b>HOLA!</b></a3>
            </div>

            <a4>
            <div id="parrafo1">Te damos la bienvenida a la opción <b>“off line”</b>.
                Aquí podrás seguir difrutando de tu programación favorita sin tener que acceder a una conexión wifi.</div>
            <div id="parrafo2">La opción off line, entrega una oportunidad de descarga por eso debes estar seguro al momento de aceptar .</div>
            <div id="parrafo3">Una vez descargada la película, queda guradada en <b>“Mi biblioteca!</b> </div>

            <div id="LibraryTitulo">
                <a4>SEARCHING FOR SUGAR MAN</a4>
            </div>

                <div id="LibraryDescripcion">
                    <a4>Bryan Mills (Liam Neeson), un agente especial retirado,
                        debe volver a la acción para liberar a su hija Kim (Maggie Grace),
                        que ha sido raptada en París por una banda de albanokosovares
                        que se dedica a la trata de blancas.</a4>
                </div>

                <div id="LibraryCover">
                    <img id="LibraryCoverImg">
                </div>

                <div id="LibraryBoton_acepto">
                    <a class="btn2"><a2>ACEPTO</a2></a>
                </div>

                <div id="LibraryBoton_seguir">
                    <a class="btn"><a2><b>SEGUIR EXPLORANDO</b></a2></a>
                </div>

                <div id="LibraryBoton_irbiblio">
                    <a class="btn2"><a2>IR A MI BIBLIOTECA</a2></a>
                </div>



        </ion-content>
</ion-view>