<!DOCTYME HTML>

<ion-view hide-nav-bar="false" >
    <ion-nav-back-button> </ion-nav-back-button> <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-drag custom-dark" menu-toggle="left"> </button> </ion-nav-buttons>
    <ion-nav-bar class="bar-dark">
  <ion-content class="backgroundApp" scroll="true">
   <!-- <h1>Ver {{titulo}}</h1>-->

   <!-- <video controls="controls" name="Video Name" src="{{videoUrl | trustUrl}}"></video> -->
    <div id="contenedor-video">
    <video id="example_video_1"
           autoplay muted width="100%" height="auto"  preload loop poster="{{cover_1280}}"
      source type="video/mp4" ng-src="{{url | trusted}}">
    </video>
    </div>

      <div class="contenedor-trailer">

      <div id="sonido"><a4>Toca para activar sonido del Trailer</a4></div>

      <div class="tit_browse">
      <a5>{{titulo}}</a5>
      </div>


      <div class="desc_browse">

          <a2>{{descripcion}}</a2>

      </div>

      <div id="cover_browse">

          <img ng-src="{{cover}}_300.jpg" border=0 alt="" width="100%" height="auto">

      </div>

      <div id="boton_browse">
          <button ng-click="myFunc()" class="btn3"><a2>VER AHORA</a2></a>
      </div>

      <div class="browse_rating">
          <img id="stars_{{stars}}">
      </div>



        <div id="cont"><a4>Continúa disfrutando sin conexión activando el botón off line.</a4></div>

        <ion-toggle id="toggle1"> </ion-toggle>

      </div>


  </ion-content>
</ion-view>
