<ion-view hide-nav-bar="false" >
    <ion-nav-back-button> </ion-nav-back-button> <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-drag custom-dark" menu-toggle="left"> </button> </ion-nav-buttons>
    <ion-nav-bar class="bar-dark" align-title="right"></ion-nav-bar>
    <ion-nav-view>
        <ion-nav-title>
            <i class="icon ion-documentales"></i>
            <ion-icon name="documentales"></ion-icon>
        </ion-nav-title>
    </ion-nav-view>

        <ion-content class="backgroundApp" scroll="true">

            <section class="masvisto_transp">
                <a6>Más vistos</a6>
            </section>



            <div id="slider">
            <ion-slide-box>

                <ion-slide>
                    <div>
                        <img id="masvistas_slide1" width="360px" height="300px" ng-src="{{peliculas[0].url_cover}}_1280.jpg">
                    </div>
                    <div class="titulo_slide">
                        <b><a2>{{peliculas[0].titulo | limitTo: 10}}</a2></b>
                    </div>
                    <div class="btn_slide">
                        <a ng-href="#/app/playlistsMovie/playMovie/{{295}}" class="btn3"><a2>VER AHORA</a2></a>
                    </div>
                    <div class="masvistas_rating">
                        <img id="stars_{{peliculas[0].star_rating}}">
                    </div>

                    <div class="relacionados"><a6>RELACIONADOS</a6></div>

                   <div class="contenedor_rel">

                    <div class="rel_1"></div>
                    <div class="rel_2"></div>
                    <div class="rel_3"></div>
                    <div class="rel_4"></div>

                   </div>

                </ion-slide>

                <ion-slide>
                    <div>
                        <img id="masvistas_slide2" width="360px" height="300px" src="{{peliculas[1].url_cover}}_1280.jpg">
                    </div>
                    <div class="titulo_slide">
                       <b> <a6>{{peliculas[1].titulo | limitTo: 15}}</a6></b>
                    </div>

                    <div class="btn_slide">
                        <a ng-href="#/app/playlistsMovie/playMovie/{{1}}" class="btn3"><a2>VER AHORA</a2></a>
                    </div>
                    <div class="masvistas_rating">
                        <img id="stars_{{peliculas[1].star_rating}}">
                    </div>

                    <div class="relacionados"><a6>RELACIONADOS</a6></div>

                    <div class="contenedor_rel">

                        <div class="rel_1"></div>
                        <div class="rel_2"></div>
                        <div class="rel_3"></div>
                        <div class="rel_4"></div>

                    </div>

                </ion-slide>

                <ion-slide>
                    <div>
                        <img id="masvistas_slide3" width="360px" height="300px" src="{{peliculas[2].url_cover}}_1280.jpg">
                    </div>
                    <div class="titulo_slide">
                        <b><a2>{{peliculas[2].titulo | limitTo: 16}}</a2></b>
                    </div>
                    <div class="btn_slide">
                        <a ng-href="#/app/playlistsMovie/playMovie/{{31}}" class="btn3"><a2>VER AHORA</a2></a>
                    </div>
                    <div class="masvistas_rating">
                        <img id="stars_{{peliculas[2].star_rating}}">
                    </div>

                    <div class="relacionados"><a6>RELACIONADOS</a6></div>

                    <div class="contenedor_rel">

                    <div class="rel_1"></div>
                    <div class="rel_2"></div>
                    <div class="rel_3"></div>
                    <div class="rel_4"></div>

                </div>

                </ion-slide>





            </ion-slide-box>

                </div>






        </ion-content>
</ion-view>