<ion-view hide-nav-bar="false" >
    <ion-nav-back-button> </ion-nav-back-button> <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-drag custom-dark" menu-toggle="left"> </button> </ion-nav-buttons>
    <ion-nav-bar class="bar-dark" align-title="right"></ion-nav-bar>
    <ion-nav-view>
        <ion-nav-title>
            <i class="icon ion-documentales"></i>
            <ion-icon name="documentales"></ion-icon>
        </ion-nav-title>
    </ion-nav-view>

        <ion-content class="backgroundApp" scroll="true">



            <div id="slider">
            <ion-slide-box>

                <ion-slide>
                    <div class = "box box1">
                        <img id="masvistas_slide1" width="360px" height="200px" ng-src="{{peliculas[0].url_cover}}_1280.jpg">
                    </div>
                    <div class="titulo_slide">
                        <a2>{{peliculas[0].titulo}}</a2>
                    </div>
                    <div class="desc_slide">
                        <a4>{{peliculas[0].descripcion}}</a4>
                    </div>
                    <div class="btn_slide">
                        <a ng-href="#/app/playlistsMovie/playMovie/{{peliculas[0].id}}" class="btn"><a2>VER AHORA</a2></a>
                    </div>
                    <div class="masvistas_rating">
                        <img id="stars_{{peliculas[0].star_rating}}">
                    </div>


                </ion-slide>

                <ion-slide>
                    <div class = "box box2">
                        <img id="masvistas_slide2" width="360px" height="200px" src="{{peliculas[1].url_cover}}_1280.jpg">
                    </div>
                    <div class="titulo_slide">
                        <a2>{{peliculas[1].titulo}}</a2>
                    </div>
                    <div class="desc_slide">
                        <a4>{{peliculas[1].descripcion}}</a4>
                    </div>
                    <div class="btn_slide">
                        <a ng-href="#/app/playlistsMovie/playMovie/{{peliculas[1].id}}" class="btn"><a2>VER AHORA</a2></a>
                    </div>
                    <div class="masvistas_rating">
                        <img id="stars_{{peliculas[1].star_rating}}">
                    </div>
                </ion-slide>

                <ion-slide>
                    <div class = "box box3">
                        <img id="masvistas_slide3" width="360px" height="200px" src="{{peliculas[2].url_cover}}_1280.jpg">
                    </div>
                    <div class="titulo_slide">
                        <a2>{{peliculas[2].titulo}}</a2>
                    </div>
                    <div class="desc_slide">
                        <a4>{{peliculas[2].descripcion}}</a4>
                    </div>
                    <div class="btn_slide">
                        <a ng-href="#/app/playlistsMovie/playMovie/{{peliculas[2].id}}" class="btn"><a2>VER AHORA</a2></a>
                    </div>
                    <div class="masvistas_rating">
                        <img id="stars_{{peliculas[2].star_rating}}">
                    </div>
                </ion-slide>

            </ion-slide-box>

                </div>




        </ion-content>
</ion-view>