<ion-view hide-nav-bar="false" >
    <ion-nav-back-button> </ion-nav-back-button> <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-drag custom-dark" menu-toggle="left"> </button> </ion-nav-buttons>
    <ion-nav-bar class="bar-dark" align-title="right"></ion-nav-bar>
    <ion-nav-view>
        <ion-nav-title>
            <i class="icon ion-documentales"></i>
            <ion-icon name="documentales"></ion-icon>
        </ion-nav-title>
    </ion-nav-view>

        <ion-content class="backgroundApp" scroll="true">



            <div id="slider">
            <ion-slide-box>

                <ion-slide>
                    <div class = "box box1">
                        <img id="masvistas_slide1" width="360px" height="200px" src="http://172.16.10.3/playcenter/covers/Blended%20-%20Vacaciones%20en%20familia_1280.jpg">
                    </div>
                    <div class="titulo_slide">
                        <a2>TÍTULO DE LA PELÍCULA</a2>
                    </div>
                    <div class="desc_slide">
                        <a4>Bryan Mills (Liam Neeson), un agente especial retirado,
                            debe volver a la acción para liberar a su hija Kim (Maggie Grace),
                            que ha sido raptada en París por una banda de albanokosovares
                            que se dedica a la trata de blancas.</a4>
                    </div>
                    <div class="btn_slide">
                        <a ng-href="#/app/playlistsMovie/playMovie/{{titulo}}" class="btn"><a2>VER AHORA</a2></a>
                    </div>
                    <div class="masvistas_rating">
                        <img id="stars_2">
                    </div>


                </ion-slide>

                <ion-slide>
                    <div class = "box box2">
                        <img id="masvistas_slide2" width="360px" height="200px" src="http://172.16.10.3/playcenter/covers/Gotham%201x13_1280.jpg">
                    </div>
                    <div class="titulo_slide">
                        <a2>TÍTULO DE LA PELÍCULA</a2>
                    </div>
                    <div class="desc_slide">
                        <a4>Bryan Mills (Liam Neeson), un agente especial retirado,
                            debe volver a la acción para liberar a su hija Kim (Maggie Grace),
                            que ha sido raptada en París por una banda de albanokosovares
                            que se dedica a la trata de blancas.</a4>
                    </div>
                    <div class="btn_slide">
                        <a ng-href="#/app/playlistsMovie/playMovie/{{titulo}}" class="btn"><a2>VER AHORA</a2></a>
                    </div>
                    <div class="masvistas_rating">
                        <img id="stars_1">
                    </div>
                </ion-slide>

                <ion-slide>
                    <div class = "box box3">
                        <img id="masvistas_slide3" width="360px" height="200px" src="http://172.16.10.3/playcenter/covers/DrH_T01x18_1280.jpg">
                    </div>
                    <div class="titulo_slide">
                        <a2>TÍTULO DE LA PELÍCULA</a2>
                    </div>
                    <div class="desc_slide">
                        <a4>Bryan Mills (Liam Neeson), un agente especial retirado,
                            debe volver a la acción para liberar a su hija Kim (Maggie Grace),
                            que ha sido raptada en París por una banda de albanokosovares
                            que se dedica a la trata de blancas.</a4>
                    </div>


                    <div class="btn_slide">
                        <a ng-href="#/app/playlistsMovie/playMovie/{{titulo}}" class="btn"><a2>VER AHORA</a2></a>
                    </div>
                    <div class="masvistas_rating">
                        <img id="stars_5">
                    </div>
                </ion-slide>

            </ion-slide-box>

                </div>




        </ion-content>
</ion-view>