<!DOCTYME HTML>

<ion-view view-title="{{titulo}}">


    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-film" menu-toggle="right">
        </button>
    </ion-nav-buttons>
    <ion-content class="backgroundApp" scroll="true">
        <!-- <h1>Ver {{titulo}}</h1>-->
        <br>

        <!-- <video controls="controls" name="Video Name" src="{{videoUrl | trustUrl}}"></video> -->
        <div id="contenedor-video">
            <video id="example_video_1" controls="video-controls"
                   autoplay width="100%" height="auto"  preload loop poster="{{cover_1280}}"
                source type="video/mp4" ng-src="{{url | trusted}}">
            </video>
        </div>

        <div id="desc_browse">
            <a>{{movie}}</a>
            <br><br>

        </div>



    </ion-content>
</ion-view>