<!DOCTYME HTML>


<ion-view hide-nav-bar="true" view-title="{{titulo}}">


    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-film" menu-toggle="right">
        </button>
    </ion-nav-buttons>
    <ion-content class="backgroundApp" scroll="true">
        <!-- <h1>Ver {{titulo}}</h1>-->
        <br>

   <!-- <div class="ng-video-container">
        <div ng-video ng-model="interface">
            <div vi-controls button class="controls">

                <div class="controles" ng-show="IsVisibleControls">

                    <div class="boton_back">
                        <span ng-click="funcBack()" title="Back" class="glyphicon glyphicon-arrow-left"><br><a6 style="margin-left: 0%; text-align: center">{{titulo}}</a6></span>
                    </div>

                    <div class="boton_play">
                        <span ng-click="interface.controls.play()" title="Play" class="glyphicon glyphicon-play"></span>
                    </div>

                    <div class="boton_pause">
                        <span ng-click="interface.controls.pause()" title="Pause" class="glyphicon glyphicon-pause"></span>
                    </div>

                    <div id="defaultBar">
                        <div id="progressBar"></div>
                    </div>
                    <div style="clear:both"></div>

                </div>

            </div>
        </div>
    </div> -->


        <section id="skin" ng-click="ShowHide()" >
            <ng-video id="myMovie" autoplay muted ng-model="interface" >
        </ng-video>

        </section>

            <section button >
            <div ng-show="IsVisibleControls">

                <div class="boton_back">
                    <span ng-click="funcBack();interface.controls.pause()" title="Back" class="glyphicon glyphicon-arrow-left"><br><a6 style="margin-left: 0%; text-align: center">{{titulo}}</a6></span>
                </div>
                <div class="boton_play">
                    <span ng-click="interface.controls.play();ShowHide()" title="Play" class="glyphicon glyphicon-play" ></span>
                </div>
                <div class="boton_pause">
                    <span ng-click="interface.controls.pause()" title="Pause" class="glyphicon glyphicon-pause"></span>
                </div>

                <div class="controls_down">

                <div class="box">
                <div class="boton_volume">
                    <span ng-click="interface.controls.mute()" title="Volume" class="glyphicon glyphicon-volume-up"></span>
                </div>
                </div>

                <div class="botoncc">
                    <span ng-click="interface.controls.pause()" title="cc" class="glyphicon glyphicon-subtitles"></span>
                </div>

                <div class="botonFullScreen">
                    <span ng-click="interface.controls.pause()" title="fs" class="ion-fullscreen"></span>
                </div>

                </div>

                <div ng-click="check(event)" class="totalBar">
                    <div class="timeBar" style="width:{{time}}"></div>
                </div>
                    <br><br>

                <div id="currentTime">Contenido</div>
                <div id="duration">Duration</div>
                <div id="timeporc">Tiempoporc</div>
                <div id="volume">Volume</div>

                <!-- Volume Directive -->
               <!-- <section vi-volume class="volume">

                <div class="scale">
                <div class="bar" style="width: {{volume * 100}}%"></div>
                </div>

               <span vi-volume-decrease title="Decrease Volume" class="decrease glyphicon glyphicon-minus"></span>
                <span vi-volume-increase title="Increase Volume" class="increase glyphicon glyphicon-plus"></span>
                    </section> -->

                </section>




        <!-- <video controls="controls" name="Video Name" src="{{videoUrl | trustUrl}}"></video> -->
    <!--    <div id="contenedor-video">
          <video id="example_video_1" controls="video-controls"
                   autoplay width="100%" height="auto"  preload loop poster="{{cover_1280}}"
                source type="video/mp4" ng-src="{{url | trusted}}">
            </video> -->

     <!--   <video id="example_video_1" class="video-js vjs-default-skin"
               controls preload="auto" width="640" height="264"
               poster="http://video-js.zencoder.com/oceans-clip.png"
               data-setup='{"example_option":true}'>
            <source src="{{url}}" type="video/mp4" />
            <source src="{{url}}" type="video/webm" />
            <source src="{{url}}" type="video/ogg" />
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video> -->

      <!--  <section class="ng-video-container" >

            <!-- Base Directive -->
          <!--  <section id="video" ng-video ng-model="interface">
                <section vi-controls button class="controls"><!--ng-click="ShowHide()"-->

            <!--        <div class="controles" ng-show="IsVisibleControls">

                    <div class="boton_back">
                        <span ng-click="funcBack()" title="Back" class="glyphicon glyphicon-arrow-left"><br><a6 style="margin-left: 0%; text-align: center">{{titulo}}</a6></span>
                    </div>
                    <div class="boton_play">
                        <span ng-click="interface.controls.play()" title="Play" class="glyphicon glyphicon-play"></span>
                    </div>
                    <div class="boton_pause">
                        <span ng-click="interface.controls.pause()" title="Pause" class="glyphicon glyphicon-pause"></span>
                    </div>

                        <div class="progress-bar">
                            <div class="progress">
                                <span class="bufferBar"></span>
                                <span class="timeBar"></span>
                            </div>
                        </div>

                        <div class="progressBar">
                            <div class="timeBar"></div>
                        </div>


                    </div>

                </section>


            </section>

        </section> -->





    </ion-content>
</ion-view>