    <ion-view>
    <ion-nav-back-button> </ion-nav-back-button> <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-drag custom-dark" menu-toggle="left"> </button> </ion-nav-buttons>
    <ion-nav-bar class="bar-dark">
        <ion-content class="backgroundApp" scroll="true">

            <div id="Library_titulo">
            <a4>Aquí se almacenarán las películas, documentales o cortos que elijas para descargar.</a4>
            </div>

            <div id="Library_contenedor">

                <div id="Library_cover">
                    <a href="#/app/playlistsMovie/{{1}}">
                        <img id="Library_CoverImg"
                             border=0 alt="" width="100%" height="auto"></a>
                </div>

                <div id="Library_titulo_movie">
                    <a2>BEASTE BOYS</a2>
                </div>

                <div id="Library_description_movie">
                    <a4>Descripción corta de Beaste Boys con harto texto
                    para probar el width y el height, y el css que funcione
                    correctamente para llenar la descripción</a4>
                </div>

            </div>

        </ion-content>
</ion-view>