<ion-view>
    <ion-nav-back-button> </ion-nav-back-button> <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-drag custom-dark" menu-toggle="left"> </button> </ion-nav-buttons>
    <ion-nav-bar class="bar-dark">
        <ion-content class="backgroundApp" scroll="true">



            <ul ng-repeat="categoria in categorias" ng-if="$even">
                <div class="film_ini">
                    <a href="#/app/playlists{{type}}/{{categorias[$index].id}}">
                        <img ng-src="{{categorias[$index].url_cover}}"
                             border=0 alt="" width="100%" height="auto"></a>
                </div>
                <div class="explora_tit_ini">
                    <a2><b>{{categorias[$index].titulo}}</b></a2>
                </div>

                <div class="film_fin">
                    <a href="#/app/playlists{{type}}/{{categorias[$index+1].id}}">
                        <img ng-src="{{categorias[$index+1].url_cover}}"
                             border=0 alt="" width="100%" height="auto"></a>
                </div>
                <div class="explora_tit_fin">
                    <a2><b>{{categorias[$index+1].titulo}}</b></a2>
                </div>

            </ul>



                <a2 id="textDescubre"><b>DESCUBRE</b></a2>
                <a2 id="textEstrenos"><b>ESTRENOS</b></a2>
                <a2 id="textNiños"><b>NIÑOS</b></a2>
                <a2 id="textPremiados"><b>PREMIADOS POR LA CRITICA</b></a2>
                <a2 id="textChileInd"><b>CHILE INDEPENDIENTE</b></a2>
                <a2 id="textReir"><b>PARA REIR</b></a2>
                <a2 id="textReflexiona"><b>REFLEXIONA</b></a2>
                <a2 id="textEmocionate"><b>EMOCIONATE</b></a2>



    <div id="exploraDiv">

                <div id="exploraDescubre">
                    <a href="#/app/playlistsMovie">
                        <img ng-src="../img/explora-descubre.gif"
                             width="100%"></a>
                </div>


                <div id="exploraEstrenos">
                    <a href="#/app/playlistsDoc">
                        <img id="estrenos"
                             width="100%"></a>
                </div>

                <div id="exploraNiños">
                    <img id="niños" width="100%" />
                </div>

                <div id="exploraPremiados">
                    <img id="premiados" width="100%" />
                </div>

                <div id="exploraChileInd">
                    <img id="chile" width="100%" />
                </div>

                <div id="exploraReir">
                    <img id="reir" width="100%" />
                </div>

                <div id="exploraReflexiona">
                    <img id="reflexiona" alt="" width="100%" />
                </div>

                <div id="exploraEmocionate">
                    <img id="emocionate" width="100%" />
                </div>


            </div>



        </ion-content>
</ion-view>