<ion-view>
    <ion-nav-back-button> </ion-nav-back-button> <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-drag custom-dark" menu-toggle="left"> </button> </ion-nav-buttons>
    <ion-nav-bar class="bar-dark">
        <ion-content class="backgroundApp" scroll="true">



            <ul ng-repeat="categoria in categorias" ng-if="$even">
                <div class="film_ini">
                    <a href="#/app/playlists{{type}}/{{categorias[$index].id}}">
                        <img ng-src="{{categorias[$index].url_cover}}"
                             border=0 alt="" width="100%" height="auto"></a>
                </div>
                <div class="explora_tit_ini">
                    <a2><b>{{categorias[$index].titulo}}</b></a2>
                </div>

                <div class="film_fin">
                    <a href="#/app/playlists{{type}}/{{categorias[$index+1].id}}">
                        <img ng-src="{{categorias[$index+1].url_cover}}"
                             border=0 alt="" width="100%" height="auto"></a>
                </div>
                <div class="explora_tit_fin">
                    <a2><b>{{categorias[$index+1].titulo}}</b></a2>
                </div>

            </ul>



        </ion-content>
</ion-view>