/* Empty. Add your own CSS if you like */


/*.list {
min-height: 100%;
height:auto !important;
height: 100%;
margin: 0 auto -4em;
}*/

@font-face {
    font-family: montserrat-hairline;
    src: url(../otf/Montserrat-Hairline.otf);
}

@font-face {
    font-family: montserrat-light;
    src: url(../otf/Montserrat-Light.otf);
}


input::-webkit-input-placeholder{
    color: #A68A4B;
    font-family: montserrat-hairline;
    text-align-all: center;
    font-size: 13pt;
}

#reg{
    height: 10px;
    color: #FFFFFF;
    text-align: justify;
    clear: both;
    font-size: 13pt;
    font-family: montserrat-hairline;
    opacity: 0.82;
}

#gestsol{
    height: 40px;
    /*content: url(../img/logo_gestsol-01.jpg);*/
    /*background-image: url(../img/logo_gestsol-01.jpg);*/
    content: url("../img/logo_gestsol-01.jpg");
}

#playcenter{
    height: 70px;
    content: url("../img/logo_playcenter-01.png");
}

#item {
    display: block;
    width: 6px;
}

#lorem{
    margin-left: 7%;
    height: 180px;
    width: 300px;
    color: #FFFFFF;
    text-align: justify;
    clear: both;
    font-family: montserrat-hairline;
    font-size: 10pt;
    line-height: 15px;
}


#backgroundLogin{
    background-image: url(../img/fondo_login.png) ;
    background-size: cover;
}

.backgroundApp{
    background-image: url(../img/fondo_app.png) ;
    background-size: cover;
}

.scroll{
    display: inline-table;
    vertical-align: middle;
    text-align: center;
    width: 100%;

}

#footer{
    height: 50px;
    color: #FFFFFF;
    text-align: center;
    clear: both;
    font-size: 13pt;
    font-family:montserrat-light;
}

.list2{
    position: static;
    top: 50%;
    left: 70%;
    width: 300px;
    height: 1px;
    margin-left: 8%;
    margin-top: -40px;
    padding: 20px;
    align-items:left;
    font-family: montserrat-hairline;
    font-size: 16pt;
    text-align: left;

}

/* MENU.HTML */


.ion-film{
    content: url(../img/peliculas_50.svg);
    width: 50px;
}

.ion-explora{
    content: url(../img/explora_50.svg);
    width: 50px;
  }

.ion-cortos{
    content: url(../img/cortos_50.svg);
    width: 50px;
}

.ion-documentales{
    content: url(../img/documentales_50.svg);
    width: 50px;
}

.ion-biblioteca{
    content: url(../img/biblioteca_50.svg);
    width: 50px;
}

.ion-kids{
    content: url(../img/infantil_50.svg);
    width: 50px;
}

.my-side-menu{
    background: #000000;
}

.my-list-item{
    list-style-type: none;
    background: #000000 !important;
    color: #fff !important;
    border: #564545 !important;
    text-align: left;
    font-family: montserrat-hairline;
    font-size: 10pt;
}

a{

    text-decoration: none;
    position: relative;
    color: #ffffff;
    font-family: montserrat-light;
    font-size: 13pt;
    text-align: center;

  }

a2{
    text-decoration: none;
    position: relative;
    color: #FFFFFF;
    font-family: montserrat-light;
    font-size: 10pt;
    text-align: center;
}

.bar.bar-dark {
    background-color: rgba(0,0,0,.85) !important; /* or transparent, or background:none */
    opacity: 0.85;
}

.custom-dark{
   /* background-color: blue !important; */
    color: #A68A4B !important;
}

#menu_txt{
    margin-left: 30%;
    margin-top: -16%;
    text-align: left;
}

#menu_list{
    margin-top: 5%;
    margin-left: 5%;
}

/* playlistsMovie.html */


.film_ini{
     width: 40%;
     height: auto;
     text-align: left;
     margin-left: 7%;
    margin-right: 3%;
    position: absolute;
 }

.tit_ini{
    width: 35%;
    height: auto;
    text-align: left;
    margin-left: 7%;
    margin-right: 3%;
    position: absolute;
    margin-top: 57%;
    line-height: 10pt;
}

.film_fin{
    width: 40%;
    height: auto;
    text-align: right;
    margin-left: 53%;
    margin-top: 5%;
}

.tit_fin{
    width: 35%;
    height: auto;
    text-align: left;
    margin-left: 53%;
    margin-top: 0%;
    line-height: 10pt;

}


/* BROWSE.html */


.tit_browse{
    margin-left: 5%;
    margin-top: 10%;
    text-align: left;
    width: 200px;
}

.browse_rating{
    margin-top: 13%;
    margin-left: -50%;
}

.desc_browse{
    margin-top: 10px;
    margin-left: 19px;
    width: 180px;
    height: 10%;
    text-align: left;

}

#cover_browse{
    width: 30%;
    text-align: right;
    margin-top: -27%;
    margin-left: 60%;
    display: inline-block;
    float: left;
}

#boton_browse{
    margin-top: 5%;
    height: 5%;
    width: 44%;
    text-align: center;
    margin-left: 7%;
}

#sonido{
    text-align: right;
    margin-right: 10%;
    margin-top: 1%;
    height: 0px;
}

#toggle1{
    background-color: transparent;
    border:none;
    width: 10px;
    height: 80px;
    border:none;
    align-content: left;
    margin-left: -4%;
    margin-top: 7%;

}


#toggle1 input:checked + .track {
        background-color: white;
        border: none;

}
#toggle1 input:checked + .track > .handle {
    background-color: #A68A4B !important;
}

#cont{
    position: absolute;
    width: 50%;
    text-align: left;
    margin-left: 28%;
    margin-top: 8%;
}

.btn3 {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: transparent;
    padding: 3px 40px 3px 35px;
    border: solid #ffffff 1px;
    text-decoration: none;
}

.btn3:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

/* Menú Explora */

.explora_tit_ini{
    width: 35%;
    height: auto;
    text-align: center;
    margin-left: 10%;
    margin-right: 3%;
    position: absolute;
    margin-top: 27%;
    line-height: 10pt;
    font-size: 12pt;
}

.explora_tit_fin{
    width: 35%;
    height: auto;
    text-align: center;
    margin-left: 55%;
    margin-top: -30%;
    line-height: 10pt;
    display: inline-block;
    float: left;

}

#exploraDiv{
      height: 880px;
      width: 350px;
      float: left
  }

#exploraDivText{
    height: 660px;
    width: 350px;
    position: absolute;
}

#descubre{
    float: left;
}
#estrenos{

    float: left;
}
#niños{

    float: left;
    margin-top: 15%;
 }
#chile{

    float: left;
    margin-top: 15%;
}
#premiados{

    float: left;
    margin-top: 15%;
}
#reir{

    float: left;
    margin-top: 15%;
}
#reflexiona{

    float: left;
    margin-top: 15%;
}
#emocionate{
    float: left;
    margin-top: 15%;
}

#exploraDescubre{
    margin-left: 16%;
    margin-top: 10%;
    height:auto;
    width: 35%;
    text-align: left;

}
#textDescubre{
    margin-left: -31%;
    margin-top: 32%;
    height:auto;
    width: 35%;
    text-align: left;
    position: absolute;
    font-size: 12pt;
}

#exploraEstrenos{
    margin-left: 56%;
    margin-top: -50%;
    height:auto;
    width: 35%;
    text-align: right;
}
#textEstrenos{
    margin-left: -2%;
    margin-top: 32%;
    height:auto;
    width: 35%;
    text-align: right;
    position: absolute;
    font-size: 12pt;
}

#exploraNiños{
    margin-left: 16%;
    margin-top: 4%;
    height:auto;
    width: 35%;
    text-align: left;
}
#textNiños{
    margin-left: -26%;
    margin-top: 81%;
    height:auto;
    width: 35%;
    text-align: left;
    position: absolute;
    font-size: 12pt;
}
#exploraPremiados{
     margin-left: 56%;
     margin-top: -50%;
     height:auto;
     width: 35%;
     text-align: right;
 }
#textPremiados{
    margin-left: 8%;
    margin-top: 80%;
    height:auto;
    width: 35%;
    text-align: left;
    position: absolute;
    font-size: 12pt;
}

#exploraChileInd{
    margin-left: 16%;
    margin-top: 4%;
    height:auto;
    width: 35%;
    text-align: left;
}
#textChileInd{
    margin-left: -35%;
    margin-top: 132%;
    height:auto;
    width: 35%;
    text-align: left;
    position: absolute;
    font-size: 12pt;
}

#exploraReir{
    margin-left: 56%;
    margin-top: -50%;
    height:auto;
    width: 35%;
    text-align: right;
}
#textReir{
    margin-left: 10%;
    margin-top: 138%;
    height:auto;
    width: 35%;
    text-align: left;
    position: absolute;
    font-size: 12pt;
}

#exploraReflexiona{
    margin-left: 16%;
    margin-top: 4%;
    height:auto;
    width: 35%;
    text-align: right;
}
#textReflexiona{
    margin-left: -32%;
    margin-top: 189%;
    height:auto;
    width: 35%;
    text-align: left;
    position: absolute;
    font-size: 12pt;
}

#exploraEmocionate{
    margin-left: 56%;
    margin-top: -50%;
    height:auto;
    width: 35%;
    text-align: left;
}
#textEmocionate{
    margin-left: 6%;
    margin-top: 189%;
    height:auto;
    width: 35%;
    text-align: left;
    position: absolute;
    font-size: 12pt;
}

/* PlaylistsLibrary.html */

#hola{
    text-align: center;
    margin-top: 3%;
}

a3{
    text-decoration: none;
    position: relative;
    color: #A68A4B;
    font-family: montserrat-light;
    font-size: 16pt;
    text-align: center;
}

a4{
    text-decoration: none;
    position: relative;
    color: #ffffff;
    font-family: montserrat-light;
    font-size: 8pt;
    text-align: center;
}

a5{
    text-decoration: none;
    color: #FFFFFF;
    font-family: montserrat-hairline;
    font-size: 16pt;

}

#parrafo1{

    text-align: center;
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
}

#parrafo2{

    text-align: center;
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
}

#parrafo3{

    text-align: center;
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
}

/* playlistsLibrary.html */

#LibraryTitulo{
     width: 40%;
     margin-top: 8%;
     text-align: left;
     margin-left: 8%;
    line-height: 11pt;
 }

#LibraryDescripcion{
    width: 40%;
    margin-top: 3%;
    text-align: justify;
    margin-left: 8%;
    line-height: 10pt;
}

#LibraryCover{
    text-align: right;
    margin-right: 9%;
    margin-top: -38%;
}

#LibraryCoverImg{
    content: url("../img/img_prueba300.jpg");
    height: auto;
    width: 30%;
}

#LibraryBoton_acepto{
    margin-top: 13%;
    height: 20%;
    width: 15%;
    text-align: center;
    margin-left: 33%;
}

#LibraryBoton_seguir{
    margin-top: 8%;
    height: 30%;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

#LibraryBoton_irbiblio{
    margin-top: 10%;
    height: 20%;
    width: 70%;
    text-align: center;
    margin-left: 15%;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 1px 1px 3px #666666;
    color: #ffffff;
    font-size: 15px;
    background: #a68a4b;
    padding: 3px 40px 3px 35px;
    border: solid #a68b4b 1px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.btn2 {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: transparent;
    padding: 3px 40px 3px 35px;
    border: solid #ffffff 1px;
    text-decoration: none;
}

.btn2:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.btn3 {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: transparent;
    padding: 3px 40px 3px 35px;
    border: solid #ffffff 1px;
    text-decoration: none;
}

.btn3:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
/* MASVISTAS.HTML */

#stars_5{
    content: url("../img/estrellas/5 estrellas.svg");
    height: auto;
    width: 100%;
    font-size: 22pt !important;
    height: 20px;
}

#stars_4{
    content: url("../img/estrellas/4 estrellas.svg");
    height: auto;
    width: 100%;
    font-size: 22pt !important;
    height: 20px;
}

#stars_3{
    content: url("../img/estrellas/3 estrellas.svg");
    height: auto;
    width: 100%;
    font-size: 22pt !important;
    height: 20px;
}

#stars_2{
    content: url("../img/estrellas/2 estrellas.svg");
    height: auto;
    width: 100%;
    font-size: 22pt !important;
    height: 20px;
}

#stars_1{
    content: url("../img/estrellas/1 estrella.svg");
    height: auto;
    width: 100%;
    font-size: 22pt !important;
    height: 20px;
}
.masvistas_rating{
    margin-top: 5%;
    margin-left: -58%;
    height: 50px;
}

.box1, .box2, .box3 {
    height: 210px;
    width: 350px;
}

#slider{
    margin-left: 0.5%;
    margin-top: 1%;
}
.titulo_slide{
    margin-left: 5%;
    text-align: left;
}

.desc_slide{
    text-align: left;
    width: 60%;
    margin-left: 4%;
    margin-top: 3%;
    text-align: justify;
}

.btn_slide{
    margin-top: 7%;
    margin-left: -50%;
}

#titulo_slide2{
    margin-left: -50%;
}

#desc_slide2{
    margin-left: -56%;
    margin-top: 2%;
}

#titulo_slide3{
    margin-left: -50%;
}

#desc_slide3{
    margin-left: -56%;
    margin-top: 2%;
}

/*playlistsLibrary.html*/

#Library_titulo{
    width: 73%;
    margin-left: 14%;
    margin-top: 8%;
}

#Library_cover{
    margin-top: 10%;
    margin-left: -57%;
}

#Library_CoverImg{
    content: url("../img/img_prueba300.jpg");
    height: auto;
    width: 17%;
}

#Library_titulo_movie{
    margin-left: 15%;
    margin-top: -40%;
}

#Library_description_movie{
    width: 45%;
    text-align: justify;
    margin-left: 45%;
    margin-top: 4%;

}

/* moviePlay.html */
